.header {
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 40px;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .header p {
    width: 610px;
    margin: 0 auto;
    padding-left: 10px;
  }
}
