body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --grey: #9b9999;
  --white: #ffffff;
  --yellow: #ececab;
  --red: #ea8282;
  --green: #a0f3ad;
}

.basic-padding {
  padding-left: 10px;
  padding-right: 20px;
}

.basic-margin {
  margin: 10px;
}
