body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --grey: #9B9999;
  --white: #FFFFFF;
  --yellow: #ECECAB;
  --red: #EA8282;
  --green: #A0F3AD;
}

.basic-padding{
  padding-left: 10px;
  padding-right: 20px;
}

.basic-margin{
  margin: 10px
}